/* ICONES */
.icon {
    position: absolute;
    padding: 6px 20px 7.5px 10px;
    align-items: center;
    color: #474545;
    min-width: 40px;
    font-size: 20px;
}

.input-icons {
    width: 30%;
    margin-top: 10px;
}

.input-field {
    background: transparent;
    border-radius: 100px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #474545;
}


/* CONTEUDO*/
.container_grid {
    width: 80%;
    height: 100%;
    border-radius: 40px 0 0 40px;
    padding: 70px 0;
    margin: 0 auto;
}

.conteudo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.titulo_profissional {
    background-color: #80DE78;
    display: flex;
    color: var(--azule);
    gap: 30px;

}


.titulo_profissional h1 {
    font-family: "SpartanBold";
    font-size: 30px;

}

h1 {

}

label {
    font-family: "VerdanaRegular";
    color: var(--preto);
}

.nav_cad_cons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 25px 0px 39px 0px;
}

.nav_cad_cons a {
    width: 130px;
    height: 50px;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    
    font-family: "VerdanaRegular";
    font-size: 20px;
    line-height: 34px;
    color: var(--preto);

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.btn_cad:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: var(--azule);
    height: 2px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .btn_cad:hover:before, .btn_cad:focus:before, .btn_cad:active:before {
    left: 0;
  }

  .btn_cons:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right:100%;
    bottom: 0;
    background: var(--azule);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .btn_cons:hover:before, .btn_cons:focus:before, .btn_cons:active:before {
    right: 0;
  }

.posicao_conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input_chapa {
    width: 260px;
}

.input_nome {
    width: 510px;
}

.input_status {
    width: 260px;
}

.input_email {
    width: 510px;
}

.input_ini_ferias {
    width: 385px;
}

.input_fim_ferias {
    width: 385px;
}

.hard_skill {
    width: 800px;
    height: 100px;
    border: 1px solid #474545;
    margin: 10px 0 20px;
    border-radius: 25px;
}
.input_hora_ext {
    width: 260px;
}

.input_jorn_tra {
    width: 260px;
}
.btn_conf_e_canc{
    border: none;
    background: none;
    margin-left: 15px;
    padding-top: 27px;
}
.btn_conf rect:hover {
    fill: #80DE78;
}
.btn_canc rect:hover{
 fill: #E88379;
}

::-webkit-calendar-picker-indicator {
    display: none;
}
