.titulo_projeto{
    display: flex;
    align-items: center;
    margin: 55px 100px;
}

h1{
    color: var(--azule);
    font-family: "SpartanBold";
    margin-left: 20px;
    font-size: 35px;
}

.cadastrar_e_consultar{
    display: flex;
    justify-content: center;
    font-family: "VerdanaRegular";
}