/*SECTION PROJETO*/

.titulo_projeto{
    display: flex;
    align-items: center;
    margin: 55px 100px;
}

h1{
    color: var(--azule);
    font-family: "SpartanBold";
    margin-left: 20px;
    font-size: 35px;
}

.cadastrar_e_consultar{
    display: flex;
    justify-content: center;
    font-family: "VerdanaRegular";  
}

.cadastrar_e_consultar a {
    text-decoration: none;
    color: var(--preto);
    margin: 0 65px;
}

.cadastrar_e_consultar>.btn_cadastrar{
    font-family: "SpartanBold";
    font-size: 23px;
}

.campo_nome_do_projeto{
    display: flex;
    flex-direction: column;
    margin: 20px 178px;
    font-family: "VerdanaRegular";
    font-size: 16px;
    color: var(--preto);
}

.campo_nome_do_projeto .input_projeto{
    box-sizing: border-box;
    border: 2px solid #474545;
    border-radius: 100px;
    width: 1064px;
    height: 37px;
    margin: 15px -3px;
}