.section_titulo {
    max-width: 80%;
    display: flex;
    margin: 50px auto;
    font-family: "SpartanBold";
    color: var(--azule);
    font-size: 30px;

}

.section_titulo img {
    padding-right: 20px;
}

label {
    margin: 0 0 10px 0;
}

.section_pesquisa p {
    padding: 30px 10px 10px 10px;
}

.section_pesquisa_btn {
    font-size: 45px;
    padding: 28px 0 0 8px;
    color: var(--preto);
}

.section_pesquisa_resultado {
    color: var(--preto);
    font-family: "VerdanaRegular";
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.section_pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(185, 124, 241);

}

.icon {
    position: absolute;
    padding: 11px 20px 7.5px 10px;
    align-items: center;
    color: #474545;
    font-size: 20px;
}

.input_chapa{
    width: 50%;
}

.input-icons {
    margin-top: 10px;
}

input .input-field {
    width: 100%;
    max-width: 447px;
}

.input-field {
    width: 100%;
    max-width: 447px;
    background: transparent;
    border-radius: 100px;
    height: 40px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #474545;
}

.section_resultado h2 {
    font-size: 20px;
    font-family: "VerdanaBold";
    padding: 50px 0 20px 0;
}

.section_resultado_dados {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(39, 39, 39, 0.162);

}

.section_resultado_dados div {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.section_resultado_dados>a {
    margin: 0;
}