/* CLASSES GENERICAS */
.icon {
    position: absolute;
    padding: 7.5px 20px 7.5px 10px;
    align-items: center;
    color: #474545;
    min-width: 40px;
    font-size: 25px;
}

.input-icons {
    width: 30%;
    position: relative;
}

.input-field {
    background: transparent;
    border-radius: 100px;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #474545;
}


/* TITULO */
section .container-grid{
    width: 100%;
    height: 100%;
    border-radius: 40px 0 0 40px;
    padding: 30px 0px 30px 0px;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}

section .conteudo{
    width: 800px;
    margin: 0 auto;
}

section .cadastrar{
    display: flex;
    align-items: center;
    gap: 30px;
}

section .cadastrar h1{
    font-family: "SpartanBold";
    font-size: 35px;
    line-height: 44px;
    color: var(--azule);
}

/*BUTTONS*/
section .buttons-grid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin-top: 25px;
    margin-bottom: 39px;
}

section .button-cadastrar{
    width: 200px;
    height: 50px;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    
    font-family: "VerdanaRegular";
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: var(--preto);

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    
}

.button-cadastrar:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--amarelo);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .button-cadastrar:hover:before, .button-cadastrar:focus:before, .button-cadastrar:active:before {
    left: 0;
    right: 0;
  }

section .button-consultar{
    width: 200px;
    height: 50px;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    
    font-family: "VerdanaRegular";
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: var(--preto);

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden; 
}

.button-consultar:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--azule);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .button-consultar:hover:before, .button-consultar:focus:before, .button-consultar:active:before {
    left: 0;
    right: 0;
  }

/* DEMANDA */
section .demanda{
    width: 100%;
    margin-bottom: 20px;
}

section .demanda span{
    font-family: "VerdanaRegular";
    font-size: 17px;
    line-height: 28px;
}

section .demanda-cadastrar{
    width: 100%;
    display: flex;
    align-items: center;
}

/* DATAS */

section .datas{
    width: 100%;
    height: 60px;
    
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

section .datas span{
    font-family: "VerdanaRegular";
    font-size: 17px;
    line-height: 28px;
}

section .data-conte{
    width: 240px;
    height: 35px;
    
    display: flex;
    align-items: center;

}


/* OBJETIVO */
section .objetivo-demanda span{
    font-family: "VerdanaRegular";
    font-size: 17px;
    line-height: 28px;
}

section .objetivo-demanda .objetivo-form{
    width: 100%;
    height: 120px;

    border: 1px solid var(--preto);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content:flex-end;

    margin-bottom: 20px;
    padding: 20px;
}

section .objetivo-form #barra-rolamento{
    width: 5px;
    height: 30px;
    background-color: var(--preto);
    border-radius: 5px;

    margin-right: 5px;
}

/* STATUS DEMANDA */
section .progresso-demanda{
    width: 100%;
    height: 60px;
    
    display: flex;
    justify-content: space-between;
}

section .progresso-demanda span {
    font-family: "VerdanaRegular";
    font-size: 17px;
    line-height: 28px;
}

section .demanda-criada-status{
    width: 100%;
    height: 38.92px;
    display: flex;
    align-items: center;

    background: transparent;
    border-radius: 100px;
    
    padding: 10px 10px 10px 10px;
    border: 1px solid #474545;
}


section .status-demanda .demanda-criada{
    height: 100%;

    display: flex;
    align-items: center;
    gap: 10px;
}

section .select-status{
    width: 160px;
    margin-left: 15px;

    font-family: "VerdanaRegular";
    font-size: 17px;
    line-height: 28px;

    border: none;
    background: none;
}

/* FOOTER  */
section .footer-options{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

section .footer-options>div{
    display: flex;
    gap: 5px;
}

section .footer-options img{
    width: 25px;
    height: 26px;
}

section .footer-options .tamanho-icone{
    width: 30px;
    height: 30px;
}
